@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #F4F1DE;
    font-family: 'Montserrat', sans-serif;
}
header{
    background-color: #81B29A;
    padding: 2em 0;
}
footer{
    padding: 2em 0;
    background-color: #81B29A;
}
header a,footer a{
    text-decoration: none;
    color: #212231;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding-left: 1em;
}
a:hover{
    color: #CE4B27;
}
input[type=text], input[type=password]{
    font-size: 14pt;
}
input[type=submit]{
    background-color: #212231;
    color: white;
    text-align: center;
    padding: 1em;
}
input[type=submit]:hover{
    background-color: #CE4B27;
}
input[type=text]{
    width: 100%;
}
form{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-around;
    margin:1em;
}
table{
    width: 100%;
}
td{
    border: 2px solid black;
    text-align: center;
}
#message{
    height: 100px;
    width: 99%;
}

